
/* 
h1 {
    color: blue;
} */

/* .superior_derecha {
    background-color: blue;
    color:white
} */

.center {
    text-align: center;
    color: red;
  }

 .titulo_intermedio {
    text-align: center;
    color: red;
  }